@import "~bootstrap/scss/bootstrap"; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.like-btn {
 color: #808080; 
 }

.unlike-btn {
 color: #e54747;
 }
 
 .search_form {
  text-align: center;
 }